body{
    background-color: rgb(95, 5, 95);
}
body{
    color: white;
}
select{
    background-color: rgb(32, 194, 235);
    color: white;
}
label{
    color: rgb(243, 211, 30);
}
input{
    background-color: rgb(0, 165, 206);
    color: rgb(255, 255, 255);
}