p{
    background-color:rgb(243, 19, 64);
}
a{
    background-color: rgb(35, 126, 187);
}
div{
    background-color: rgb(102, 255, 0);
}
span{
    background-color: rgb(216, 44, 216);
}
span{
    color: white;
}